.left-text {
  width: 26%;                      
}

.left-text h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.left-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
