.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #dcdcdc;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  height: 35px; 
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #a435f0;
  cursor: pointer;
}

.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.nav-link:hover {
  color: #6a6a6a;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  width: 80%; 
}

.search-input {
  width: 100%;
  padding: 10px 14px 10px 35px;
  border: 1px solid #a435f0;
  border-radius: 30px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
  border-color: #000;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart {
  font-size: 20px;
  cursor: pointer;
}

.login-btn {
  padding: 8px 15px;
  background: white;
  color:#a435f0;
  border: 1px solid #a435f0;
  border-radius: 3px;
  cursor: pointer;
}

.signup-btn {
  padding: 8px 15px;
  background: #a435f0;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.lang-btn{
  padding: 6px 8px;
  background: white;
  color:black;
  border: 1px solid #a435f0;
  border-radius: 3px;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover,
.lang-btn:hover {
  opacity: 0.8;
}
