body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color: black;
    
    color: white;
    
    padding: 5px;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: inherit; 
}

.jump{
    padding-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

main {
    padding: 0 300px;

}
main h2{
    padding-top: 15px;
}
main section {
    text-align: left;
    display: inline-block;
    width: 200px;
    background-color: rgb(250, 250, 250);
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}

form {
    width: 600px;
    margin: 0 auto; 
}

input, textarea, button {
    width: 100%;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250) ;
    
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 0;
}
