.skill-card {
  width: 260px;
  height: 330px;
  border-radius: 14px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;   
  transition: 0.25s;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.card-info {
  position: absolute;
  bottom: 15px;               
  left: 50%;                 
  transform: translateX(-50%); 

  width: 80%;                 
  background: white;
  padding: 15px 12px;
  box-sizing: border-box;

  border-radius: 14px;        
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

.students {
  font-size: 14px;
  color: #555;
  border: 1px solid #555;   
  border-radius: 8px;       
  padding: 2px 6px;         
  display: inline-block;    
}

.card-info h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}


.arrow-link {
  display: block;      
  margin-top: 8px;     
  font-size: 22px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.sr {
  position: absolute;
  right: 12px;   
  bottom: 15px;  
  font-size: 20px;
  font-weight: bold;
  color: black;
}