
.skills-right {
  width: 71%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}


.slider-footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}


.arrow {
  background: white;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 22px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover:not(:disabled) {
  background: black;
  color: white;
}

.arrow:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: black;
  transform: scale(1.2);
}
